body {
    background: linear-gradient(to right, #6b3e02 10%, #eff1f2 200%);
}

p{
    color:white;
    font-size: 50px;
    font-weight: 100;
    text-align: center;
    font-variant:normal;
}
.div1{
    background: linear-gradient(to bottom, #669999 0%, #ff6699 100%);
    width: 350px;
    height: 350px;
    border-radius: 25px;
    
}
.img1{
    background-image: url(python_2.png);
    width: 200x;
    height: 200px;
    padding-left: 75px;
    padding-top: 25px;
    

}
.img1:hover{
    background-image: url(python.jpg);
    
}
.div2{
    background: linear-gradient(to bottom, #669999 0%, #ff6699 100%);
    width: 350px;
    height: 350px;
    border-radius: 25px;
    margin-left: 500px;
    margin-top: -340px;
    
}
.img2{
    width: 240px;
    height: 150px;
    padding-left: 55px;
    padding-top: 25px;
}
.div3{
    background: linear-gradient(to bottom, #669999 0%, #ff6699 100%);
    height: 350px;
    width: 350px;
    border-radius: 25px;
    margin-left: 1050px;
    margin-top: -340px;
    
}
.img3{
    width: 240px;
    height: 150px;
    padding-left: 65px;
    padding-top: 25px;
}
