body{
    background-color: blueviolet;
}
div{
    width: 800px;
    height: 400px;
    background-color: pink;
    border-radius: 25px;
    margin-left: 350px;
    margin-top: 50px;
}    
.ta{
  
    width: 300px;
    height: 200px;
    padding-left: 250px;
    padding-top: 25px;
    border-radius: 25px;
}
.name{
    
    color:blueviolet;
    font-size:28px;
    text-align: center;
}
.number{
    color:black;
    font-size:22px;
    font-style:initial;
}