.div{
    width: 1280px;
    height: 840px;
    background-color: rgb(157, 215, 215);
}
div{
    width: 1200px;
    height: 210px;
    background-color: pink;
    border-radius: 25px;
    padding-left: 38px;
    padding-top: 10px;
}
img{
    width:400px;
    height:200px;

}
.two{
    width: 400px;
    height: 200px;
    padding-left: 355px;
}
button{
    border:none;
    width: 410px;
    height: 100px;
    text-align: center;
    font-size: 28px;
    margin-top:420px;
    margin-left: 390px;
    border-radius: 28px;
    background-color: pink;
    color:brown;
}
p{
    font-size: medium;
    color:rgb(63, 40, 90);
}
